.DS_Store
.qmake.stash
.idea/
CMakeFiles/
cmake-build-debug/
MyCamera_automoc.dir/
debug/
release/
MyCamera.vcxproj*
MyCamera.sdf
MyCamera.opensdf
MyCamera.sln
mainwindow.h.*

CMakeLists-MyCamera.pro.txt
CMakeCache.txt
MyCamera.pro.user
MyCamera_automoc.cpp
mainwindow.ui.bak
moc_mainwindow.cpp
moc_mainwindow.cpp_parameters
moc_myfram.cpp
moc_myfram.cpp_parameters
ui_*.h
